rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /subscribers/{document} {
      // Allow any visitor to subscribe with their email
      allow create: if request.resource.data.email is string
                    && request.resource.data.email.size() > 3;
      // Deny public read, update, and delete access for privacy & security
      allow read, update, delete: if false;
    }
  }
}
